.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: #757575;
  text-decoration: none;
  transition: color var(--time-anim) var(--trform-style);
  &:focus,
  &:hover {
    color: var(--active-color);
  }
}
